* {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}
